// 东海项目

// 颜色：
/*
	...
	$color-theme-ll => 更浅
	$color-theme-l => -light => 浅色
	$color-theme => 主题色
	$color-theme-d => -dark => 深色
	$color-theme-dd => 更深
	...
*/

$color-theme = hsl(356, 100%, 42%) // 主题色
$color-theme-d = hsl(356, 93%, 37%) // 主题色-深
$color-border = hsl(0, 0%, 93%) // 边框色
$color-shadow = hsla(0, 0%, 0%, .2) // 阴影色
$color-text = hsl(0, 0%, 100%) // 文字颜色
$color-cover = hsla(0, 0%, 100%, .3) // 遮罩

// 不要像下面这种方式定义变量
$color-red = red

// 字号：
/*
	...
	$font-s => -small =>小号
	$font-s-x => 稍大
	$font-s-xx => 接近中号
	$font-m => 中号
	$font-m-x => 中号微上
	$font-m-xx => 中号偏上
	$font-l => 大号
*/

$font-s = 12px
$font-s-x = 14px
$font-s-xx = 16px
$font-m = 18px
$font-m-x = 20px
$font-m-xx = 22px
$font-l = 24px
$font-l-x = 26px
$font-l-xx = 28px

// 不要像下面这种方式定义变量
$font-12 = 12px

// 圆角：

$radius-s = 3px
$radius-m = 5px
$radius-l = 8px

// 不要像下面这种方式定义变量
$radius-5 = 5px