@import '~common/stylus/variable'

.container
	position: fixed
	left: 50px
	top: 0
	right: 0
	bottom: 0
	padding: 30px
	overflow: auto
	color: $color-text
	.title
		font-size: $font-size-title
		margin-bottom: .5em
		text-shadow: -1px 1px 6px rgba(0, 0, 0, .7)
	.sub
		display: block
		font-size: 20px
		margin-bottom: 1em
	.column
		padding-left: 30px
		.sub-title
			font-size: 24px
			margin-left: -30px
